<form action="/schools/{{school._id}}/comments">
  <textarea class='form-control' name="body" placeholder="Comment"></textarea>
  <div class="text-right">
    <button type="submit">Save</button>
  </div>
</form>
