<form action="/schools/{{school._id}}/comments/new">
  <textarea class='form-control' name="body" placeholder="Comment"></textarea>
  <div class="text-right">
    <button type="submit">Save</button>
    <button  style = "color: black", class="nav-link" href="/">Save</button>
    <button style = "color: black", class="nav-link" href="/">Edit</button>
    <button style = "color: black", class="nav-link" href="/">Delete</button>
  </div>
</form>
