<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>School App</title>

  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="style.css"/>

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header" href="/">
        <h1 style="text-align: center">San Francisco School Information</h1>
        <a class="navbar-brand" href="/">Home Page</a>
        <!-- <a class="navbar-brand" href="/">Map View</a>
        <a class="navbar-brand" href="/">School Search</a>
        <a class="navbar-brand" href="/">Recommendations</a> -->
      </div>
    </div>
  </nav>

  <div class="container">
  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d12614.819055797048!2d-122.42655006489832!3d37.773520277195104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sschool!5e0!3m2!1sen!2sus!4v1507130141682" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
    <a class="btn btn-primary" href=" schools/new">New Review</a>
  </div>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
