<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>School App</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="style.css"/>

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header" href="/">
        <h1 style="text-align: center">San Francisco School Information</h1>
        <a class="navbar-brand" href="/">Home Page</a>
        <a class="navbar-brand" href="/schools/:id/edit">Edit</a>
        <a class="navbar-brand" href=""> School List</a>
          <img src="https://images.fineartamerica.com/images-medium-large-5/golden-gate-bridge-calvin-durham.jpg" alt="" height="42" width="42">
      </div>
    </div>
  </nav>

  <div class="container">
  {{{body}}}
    <a class="btn btn-primary" href=" schools/new">Review</a>
    <a class="btn btn-primary" href="/schools/:id/edit" > Edit</a>
  </div>
  </div>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
