<h1>{{school.title}}</h1>

<form action="/schools/{{school._id}}/reviews/new">
<div class="form-group">
  <label for="title">Title</label><br>
  <input class="form-control" type="text" name="title" value=""/>
</div>
<!--  TITLE -->


<!-- DESCRIPTION -->
<div class="form-group">
  <label for="description">Description</label><br>
  <textarea class="form-control" name="description" rows="10" /></textarea>
</div>

<!-- RATING -->
<div class="form-group">
    <select class="form-control" name="rating">
        <option value="" selected disabled hidden>Rating Score</option>
        <option value=1>1 - Not this one</option>
        <option value=2>2 - Probably not this one</option>
        <option value=3>3 - Your child might succeed in life</option>
        <option value=4>4 - Pretty good</option>
        <option value=5>5 - Your child is going to thank you</option>
      </select>

</div>
<p>

       <button class = "btn btn-primary" href = "schools/{{school._id}}">Save</button>
       <button class="btn btn-primary" href ="/schools/{{school._id}}/reviews/:id">Edit</button>
       <button class="btn btn-primary" href = "/">Delete</button>
</p>
