<h1>School List</h1>
<h2>Alamo Elementary School</h2>
<p>Grades K-5<p>
<p>Outer Richmond • 250 23rd Avenue • 415-750-8456 • More Info </p>
<h2>Alvarado Elementary School</h2>
<p>TK-5</p>
<p>Noe Valley • 625 Douglass Street • 415-695-5695 • More Info </p>
</h2>Aptos Middle School</h2>
<p>Grades 6-8</p>
<p>West of Twin Peaks • 105 Aptos Avenue • 415-469-4520 • More Info </p>
<h2>Argonne Early Education School</h2>
<p>PreK/TK</p>
<p>Inner Richmond • 750 16th Avenue • 415-750-8617 </p>



<!-- // app.get('/get-school-data', function (req, res) {
//   request('https://data.sfgov.org/resource/mmsr-vumy.json', function (error, response, body) {
//     // loop over body, and save each object to your School collection
//     console.log(body);
//   })
// }) -->
