<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>Edit Form</legend>
    <form method="POST" action="/reviews/{{form._id}}?_method=PUT">
      {{> schools-form }}
    </form>
    <button style="float:right;" onclick="location.href='/'" class="btn btn-primary">
     Cancel</button>
  </div>
</div>
