<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>Review Form</legend>
    <form method="POST" action="/schools/{{school._id}}?_method=PUT">
      {{> schools-form }}
    </form>
  </div>
</div>
