<legend>School</legend>
<form method="POST" action="/reviews">
  <!-- TITLE -->
  <p>
    <label for="title">Title</label><br>
    <input type="text" name="title" />
  </p>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
  </p>
</form>
